body{
    margin: 0;
    padding: 0;

}
.content{
    left:100px;
    top:100px;
    padding :15px 30px;
    position: relative;
}

article img{
    max-width:98%;
    -webkit-border-radius:3px;
    border-radius: 3px;
    padding: 5px;
    background: #fff;
    -webkit-box-shadow:0 0 8px #aaa;
    box-shadow: 0 0 8px #aaa;
}
